
*.exe
*.cs
LTE_ch.csproj
bin/Debug/LTE_ch.pdb
bin/Debug/LTE_ch.vshost.exe.manifest
bin/Release/LTE_ch.pdb
Bitmap1.bmp
Form1.resx
Form1_modify.resx
LTE_ch.csproj.user
LTE_ch_TemporaryKey.pfx
obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/x86/Debug/FreqCalc.Form1.resources
obj/x86/Debug/LTE_ch.csproj.FileListAbsolute.txt
obj/x86/Debug/LTE_ch.csproj.GenerateResource.Cache
obj/x86/Debug/LTE_ch.csprojResolveAssemblyReference.cache
obj/x86/Debug/LTE_ch.pdb
obj/x86/Debug/LTE_ch.Properties.Resources.resources
obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
obj/x86/Release/FreqCalc.Form1.resources
obj/x86/Release/LTE_ch.csproj.FileListAbsolute.txt
obj/x86/Release/LTE_ch.csproj.GenerateResource.Cache
obj/x86/Release/LTE_ch.pdb
obj/x86/Release/LTE_ch.Properties.Resources.resources
Properties/Resources.resx
Properties/Settings.settings
temp.ico
